@media (max-width: 768px) {

    .section,
    .section-div {
        width: 100% !important;
    }
    
    .card-content {
        padding: 1.5rem;
    }
    
    #personal-card-information .card-head h4 {
        font-size: 1.8rem !important;
        text-align: center;
    }
    
    #personal-card-information .card-head h6 {
        font-size: 0.9rem !important;
        text-align: center;
    }
    
    #personal-card-information .card-content {
        padding: 1rem !important;
        padding-top: 30% !important;
    }
    
}

@media (min-width: 768px) {

    .section,
    .section-div {
        width: 100%;
    }

    #CopyRightContainer {
        padding-top: 2rem !important;
        ;
        padding-bottom: 1rem !important;
    }
}

@media (min-width: 992px) {

    .section,
    .section-div {
        width: 75%;
    }

    .card-content h4 {
        font-weight: 900;
        margin: 1.14rem 0 0.912rem 0;
        display: block;
        margin-bottom: 0;
    }

    .card-content h6 {
        font-weight: 900;
        margin: 1.14rem 0 0.912rem 0;
        display: block;
        margin-bottom: 0;
    }

    .card-content {
        padding: 1.5rem !important;
    }
}